/* .page {
  margin: 1em auto;
  max-width: 768px;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
} */
body {
  font-family: "Poppins", sans-serif;
}
p {
  margin: 0;
}
h1 {
  text-align: center;
  color: #68b984;
}

.upload-container {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
  max-width: 500px;
  margin: 0 auto;
}
.upload-container label {
  margin-bottom: 16px;
}
.box {
  padding: 0.5;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
}

.box-2 {
  padding: 0.5;
}

.options label,
.options input {
  width: 4em;
  padding: 0.5em 1em;
}

.btn {
  background-color: white;
  color: #000;
  border: 1px solid black;
  padding: 0.5em 1em;
  text-decoration: none;
  margin: 0.8em 0.3em;
  display: inline-block;
  cursor: pointer;
}

.img {
  display: block;
  width: 200px;
  max-width: 100%;
}

img {
  max-width: 100%;
}

.img-result {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 16px;
  display: inline-block;
  position: relative;
  width: 100%;
}

.img-result img {
  width: 100%;
}

.img-container {
  max-width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}
.result {
  width: 80%;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
}

.save {
  background: #68b984;
  color: white;
  border: none;
  padding: 4px 20px;
  border-radius: 4px;
  margin-top: 12px;
}
.img-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d3d3d3;
}

.modal-2 {
  width: max-content;
  position: relative;
  margin: 0 auto;
  max-width: 500px;
  margin: 0 auto;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: lighten;
  background-color: white;
}
.options {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
  margin-top: 40px;
}

.options div .option {
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  height: 30px;
  width: 30px;
  padding: 12px;
}
.bg img {
  height: 100%;
}
.hidden {
  display: none;
}
